.*

!.gitignore
!.vscode

__pycache__

.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**//**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
